// Pallet
$clr2: #333333;
$clr1: #272727;
$clr0: #4a4a4a;
$clr-1: #9c9c9c;
$clr-2: #f8f9f9;

$clrPrimary: #8b71ff;
$clrSecondary: #bdb4ff;

// Fonts
$ralewayBold: Raleway-Bold;

// Breakpoints
$mobile-breakpoint: 420px;
$tablet-breakpoint: 920px;
$desktop-breakpoint: 1300px;


// Layout Paddings

